In [25]:
import pandas as pd
import os.path

In [26]:
df = pd.read_csv("../datasets/clean_dataset.csv")

In [27]:
artist_df = df[["track_id", "track_name", "artists"]].copy()
artist_df["artists"] = artist_df["artists"].str.split(";")
artist_df = artist_df.explode("artists")

# Clean whitespace
artist_df["artists"] = artist_df["artists"].str.strip()

In [28]:
artist_df

                      track_id                  track_name            artists
0       5SuOikwiRyPMVoIQDJUgSV                      Comedy        Gen Hoshino
1       4qPNDBW1i3p13qLCt0Ki3A            Ghost - Acoustic       Ben Woodward
2       1iJBSr7s7jYXzM8EGcbK5b              To Begin Again  Ingrid Michaelson
2       1iJBSr7s7jYXzM8EGcbK5b              To Begin Again               ZAYN
3       6lfxq3CG4xtTiEg7opyCyx  Can't Help Falling In Love       Kina Grannis
...                        ...                         ...                ...
113994  2C3TZjDRiAzdyViavDJ217         Sleep My Little Boy      Rainy Lullaby
113995  1hIz5L4IB9hN3WRYPOCGPw            Water Into Light      Rainy Lullaby
113996  6x8ZfSoqDjuNa5SVP5QjvX              Miss Perfumado      Cesária Evora
113997  2e6sXL2bYv4bSz6VTdnfLs                     Friends   Michael W. Smith
113998  2hETkH7cOfqmz3LqZDHZf5                   Barbincor      Cesária Evora

[158292 rows x 3 columns]

In [29]:
artist_df[artist_df.isna().any(axis=1)]

Empty DataFrame
Columns: [track_id, track_name, artists]
Index: []

# Export artist_df into a CSV

In [30]:
df.to_csv(os.path.join('../datasets','artists_dataset.csv'))